@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: myFirstFont;
    src: url(font1.woff2);
}
@font-face {
    font-family: mySecondFont;
    src: url(font2.woff2);
}
@font-face {
    font-family: myThirdFont;
    src: url(font3.woff2);
}
@font-face {
    font-family: myForthFont;
    src: url(font4.woff2);
}
@font-face {
    font-family: myFifthFont;
    src: url(font5.woff2);
}

::-webkit-scrollbar{
    display: none;
}

.rotate{
    animation: spin 10s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}